# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
ENV/

# Editor / IDE settings
.vscode/
.idea/

# Local debug output
preprocessed_debug.jpg
